:root{
	--fundo: #d1cbf5;
	--letra: aliceblue;
	--fundo2: #0000007e;
}

body{
	background-color: rgb(27, 54, 255);
}

h1{
	color: var(--letra);
	text-align: center;
	text-shadow: 1px 1px 5px black;
}


.calculator {
	margin: 20px auto;
	width: 200px;
	padding: 10px;
	background-color: var(--fundo2);
	border-radius: 10px;
	box-shadow: 1px 1px 5px black;
}

.result {
	background-color: var(--fundo);
	display: block;
	width: 100%;
	margin-bottom: 10px;
	font-size: 16px;
	padding: 5px;
	box-sizing: border-box;
}

.button {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	border-radius: 5px;
	background-color: var(--fundo);
	border: none;
	cursor: pointer;
}

.button:hover {
	background-color: var(--fundo2);
	color: var(--letra);
}

.button:active {
	background-color: #f3f042;
}

footer{
	color: rgb(137, 178, 244);
	text-align: center;
}