body{
	background-color: rgb(27, 54, 255);
}



.calculator {
	margin: 20px auto;
	width: 200px;
	padding: 10px;
	background-color: #0000007e;
	border-radius: 10px;
	box-shadow: 1px 1px 5px black;
}

.result {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	font-size: 16px;
	padding: 5px;
	box-sizing: border-box;
}

.button {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	border-radius: 5px;
	background-color: #d1cbf5;
	border: none;
	cursor: pointer;
}

.button:hover {
	background-color: #3012a8;
	color: aliceblue;
}

.button:active {
	background-color: #f3f042;
}
